<h1>New Team Form</h1>

<%= form_for @team do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name%>
    <br>
    <%= f.label :league %>
    <%= f.collection_select :league_id, League.all, :id, :name %>
    <br>
    <%= f.submit %>
<% end %>
