
<div class="container">
    <h1>Create a Team</h1>
    <h4>League: <%= League.find(params[:league_id]).name %> </h4>

    <%= form_for @team do |f|%>
        <div class="form-row">
            <div class="form-group col-md-6">
                <%= f.label :name, "Team Name" %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <%= f.hidden_field :league_id, value: @league.id %>

            <%# <div class="form-group col-md-6"> %>
                <%# f.label :league %>
                <%# f.collection_select :league_id, League.all, :id, :name, {}, {class: "form-control"} %>
            <%# </div> %>
        </div>

        <div class="form-row">
            <%= f.fields_for :players do |player_fields| %>
                <div class="form-group col-md-4">

                    <% position = player_fields.object.position %>
                        <% if position == "FLEX"%>
                            <% position_lookup = ["RB", "WR", "TE"] %>
                        <% else %>
                            <% position_lookup = position %>
                        <% end %>

                    <%= player_fields.label :name, "#{position}" %>
                    <%= player_fields.collection_select :name, @league.available_players.select{|player| position_lookup.include?(player.position)}, :name, :name, {prompt: "Select a " + "#{position}"}, {class: "form-control"} %>
                </div>
            <% end %>
        </div>

        <%= f.submit "Create Team", class: "btn btn-success" %>
    <% end %>
</div>


<%# Player.where(position: position_lookup) %>
