<div class="container mt-3">

    <h1>Best Possible Team</h1>
    <h5>Starters</h5>
    <table class="table table-bordered table-sm mt-3" >
        <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>Player</th>
                <th>AVG Ranking</th>
            </tr>
        </thead>
        <tbody class= "table-white">
            <tr>
                <td class="align-middle"><%= "QB1" %></td>
                <td class="align-middle"><%= @team.qb1.name %></td>
                <td class="align-middle"><%= @team.qb1.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "RB1" %></td>
                <td class="align-middle"><%= @team.rb1.name %></td>
                <td class="align-middle"><%= @team.rb1.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "RB2" %></td>
                <td class="align-middle"><%= @team.rb2.name %></td>
                <td class="align-middle"><%= @team.rb2.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "WR1" %></td>
                <td class="align-middle"><%= @team.wr1.name %></td>
                <td class="align-middle"> <%= @team.wr1.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "WR2" %></td>
                <td class="align-middle"><%= @team.wr2.name %></td>
                <td class="align-middle"><%= @team.wr2.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "TE1" %></td>
                <td class="align-middle"><%= @team.te1.name %></td>
                <td class="align-middle"><%= @team.te1.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "FLEX" %></td>
                <td class="align-middle"><%= @team.flex.name %></td>
                <td class="align-middle"><%= @team.flex.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "K" %></td>
                <td class="align-middle"><%= @team.kicker.name %></td>
                <td class="align-middle"><%= @team.kicker.avg_ranking %></td>
            </tr>
            <tr>
                <td class="align-middle"><%= "D/ST" %></td>
                <td class="align-middle"><%= @team.defense.name %></td>
                <td class="align-middle"><%= @team.defense.avg_ranking %></td>
            </tr>
        </tbody>
    </table>
    
    <br>

    <h5>Bench</h5>
    <table class="table table-bordered table-sm mt-3" >
        <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>Player</th>
                <th>AVG Ranking</th>
            </tr>
        </thead>
        <tbody class= "table-white">
            <% @team.bench.each do |player|%>
                <tr>
                    <td class="align-middle">BENCH</td>
                    <td class="align-middle"><%= player.name %></td>
                    <td class="align-middle"><%= player.avg_ranking %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
