<div class="container">
    <h1>Week 4 Rankings</h1>

    <%= button_to "Create a Ranking", new_ranking_path, method: "get", class: "btn btn-success m-3"%>
    <br>
    <% if @current_user.rankings.any? %>
        <table class= "table table-bordered table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Player</th>
                    <th>Ranking</th>
                    <th>Delete Ranking</th>
                </tr>
            </thead>
            <tbody class= "table-white">
            <% @current_user.rankings.order(:ranking).each do |ranking| %>
                <tr>
                    <td><%= image_tag ranking.player.photo_url, class: "thumbnail" %><%= ranking.player.name %></td>
                    <td><%= ranking.ranking %></td>
                    <td><%= button_to "Delete", ranking_path(ranking), method: "delete", class: "btn btn-outline-danger btn-sm" %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% end %>

</div>
