<div class="container mt-3">
  <h1> New Ranking Form </h1>

  <%= form_tag rankings_path, class: "form-style" do%>
    <fieldset class= "border p-2">
      <legend class= "w-auto">QB</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: "QB").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "QB").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>
    </fieldset>

    <fieldset class= "border p-2">
      <legend class= "w-auto">RB</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: "RB").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "RB").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>
    </fieldset>

    <fieldset class= "border p-2">
      <legend class= "w-auto">WR</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: "WR").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "WR").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>
    </fieldset>

    <fieldset class= "border p-2">
      <legend class= "w-auto">TE</legend>
          <div class="row align-items-center">
          <% Player.all.where(position: "TE").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "TE").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>
        
    </fieldset>

    <fieldset class= "border p-2">
      <legend class= "w-auto">FLEX</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: ["RB", "WR", "TE"]).each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: ["RB", "WR", "TE"]).count, :class => "float-right" %>
            </div>
          <% end %>
        </div>
    </fieldset>

      <fieldset class= "border p-2">
      <legend class= "w-auto">K</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: "K").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "K").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>    
    </fieldset>

      <fieldset class= "border p-2">
      <legend class= "w-auto">D/ST</legend>
        <div class="row align-items-center">
          <% Player.all.where(position: "D").each do |player| %>
            <div class="col-3">
              <%= label_tag :player_name, player.name %>
              <%= hidden_field_tag "rankings[rankings][]ranking[player_id]", player.id %>
              <% label_tag :ranking %>
              <%= number_field_tag "rankings[rankings][]ranking[ranking]", nil , in: 1..Player.all.where(position: "D").count, :class => "float-right" %>
            </div>
          <% end %>
        </div>    
    </fieldset>
    <%= submit_tag "Create Ranking", class: "btn btn-success m-3" %>
  <% end %>
</div>

