<div class="container mt-3">
  <h1><%= @league.name %></h1>

  <table class= "table table-bordered table-sm mt-3">
    <thead class="thead-dark">
      <tr>
          <th>Rank</th>
          <th>Team Name</th>
          <th>Team Owner</th>
      </tr>
    </thead>
    <tbody class = "table-white">
      <% rank = 1 %>
      <% @league.teams.each do |team| %>
              <tr>
                  <td class="align-middle"><%= rank %></td>
                  <td class="align-middle"><%= link_to team.name, team_path(team) %></td>
                  <td class="align-middle"><%= team.owner.username %></td>
              </tr>
          <% rank += 1 %>
      <% end%>
    </tbody>
  </table>

  <div class="btn-group">
    <%= button_to "Join League", new_team_path, params: {league_id: @league.id}, method: "get", class: "btn btn-success m-1"  %>
    <%= button_to "Delete League", league_path(@league), method: "delete", class: "btn btn-danger m-1"  %>
  </div>

</div>
