<body class="login_background">
  <div class="login_container">

    <div class="d-flex justify-content-center h-100">
      <div class="login_card">
        <div class="card-header">
          <img src="https://i.ibb.co/4ShsJh9/FANTASY-FANATICS-2.jpg" alt="Football" width="460">
        </div>
        <div class="card-body">
            <% if flash[:login_error] %>
              <%= flash[:login_error] %>
            <% end %>
            <%= form_tag "/login" do  %>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                  <% label_tag :username %>
              </div>
                  <%= text_field_tag :username, nil, :class => "form-control", :placeholder => "username" %>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
                  <% label_tag :password %>
              </div>
                  <%= password_field_tag :password, nil, :class => "form-control", :placeholder => "password" %>
            </div>
                <div class="form-group">
                  <%= submit_tag "Log in!", :class=>"btn float-right login_btn" %>
                </div>
              <% end %>
              <div class="row align-items-center remember">
                <input type="checkbox">Remember Me
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="/users/new">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
