<h1>Create Account</h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<br>
<%= form_for @user do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username%>
  <br>
  <%= f.label :user_type %>
  <%= f.select :user_type, ['Owner', 'Analyst'] %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit %>
<% end %>
