<h1>New Roster</h1>


<%= form_for @player_team do |f|%>
  <%= f.label :team_id %>
  <%= f.collection_select(:id, Team.all, :id, :name)%><br>
  <%= f.label :player_id, "QB:" %>
  <%= f.collection_select(:id, Player.where(position: "QB"),:id, :name, {prompt: "Select a QB"}) %>

  <%= f.submit %>
<% end %>
