<% # views/players/index.html.erb %>

<h1>Players List</h1>
<br>
<%= form_tag(players_path, method: :get) do %>
  <h4> Search for a Player </h4>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<br>


  <table class= "table table-bordered table-sm">
    <thead class="thead-light">
    <tr>
      <% if params[:order] == "DESC" %>
        <th><%= link_to "Player Name", :sort => "name", :order => "DESC"%> </th>
        <th><%= link_to "Position", :sort => "position", :order => "DESC"%> </th>
        <th><%= link_to "Avg. Ranking", :sort => "avg_ranking", :order => "DESC"%> </th>
      <% else %>
        <th><%= link_to "Player Name", :sort => "name", :order => "ASC"%> </th>
        <th><%= link_to "Position", :sort => "position", :order => "ASC"%> </th>
        <th><%= link_to "Avg. Ranking", :sort => "avg_ranking", :order => "ASC"%> </th>
      <% end %>
    </tr>



  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player_path(player) %></td>
      <td><%=player.position %></td>
      <td><%=player.avg_ranking %></td>
    </tr>
    <% end %>
  </table>
