<% # views/players/index.html.erb %>

<h1>Players List</h1>

<%= form_tag(players_path, method: :get) do %>
  <p> Search for a player </p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<br>


<table>
  <tr>
    <th><%= link_to "Player Name", :sort => "name"%> </th>
    <th><%= link_to "Position", :sort => "position"%> </th>
    <th><%= link_to "Avg. Ranking", :sort => "avg_ranking"%> </th>
  </tr>
<% @players.each do |player| %>
  <tr>
    <td><%= player.name%></td>
    <td><%=player.position %></td><td>
    <td><%=player.avg_ranking %></td>
  </tr>
  <% end %>
</table>
