<div class="container">
  <h1>Players List</h1>
  <br>

  <%= form_tag(players_path, method: :get) do %>
      <div class="input-group col-6">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for a Player" %>
          <div class="input-group-prepend">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
      </div>
  <% end %>
  <br>
  <br>


    <table class= "table table-bordered table-sm">
      <thead class="thead-dark" style="text-color: white">
      <tr>
        <% if params[:order] == "DESC" %>
          <th><%= link_to "Player Name", :sort => "name", :order => "DESC"%> </th>
          <th><%= link_to "Position", :sort => "position", :order => "DESC"%> </th>
          <th><%= link_to "Avg. Ranking", :sort => "avg_ranking", :order => "DESC"%> </th>
        <% else %>
          <th><%= link_to "Player Name", :sort => "name", :order => "ASC"%> </th>
          <th><%= link_to "Position", :sort => "position", :order => "ASC"%> </th>
          <th><%= link_to "Avg. Ranking", :sort => "avg_ranking", :order => "ASC"%> </th>
        <% end %>
      </tr>
      </thead>
      <tbody class="table-white">
      <% @players.each do |player| %>
        <tr>
          <td><%= image_tag player.photo_url, class: "thumbnail"  %><%= link_to player.name, player_path(player) %></td>
          <td><%=player.position %></td>
          <td><%=player.avg_ranking %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

</div>
